{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block main %}
    <div class="container">
        <h1> Welcome, {{username}}</h1>
        <br>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Password</th>
                    <th scope="col">Kapan dibuat</th>
                </tr>
            </thead>
            <tbody>
            {% for row in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
        <a href="/logout" class="btn btn-primary btn-sm">Logout</a>
    </div>
{% endblock %}